<!DOCTYPE html>
<html lang="en">

<head itemscope itemtype="https://schema.org/WebPage">
  <meta charset="utf-8">

  {% block metadata %}{% endblock %}
  <meta itemprop="url" property="og:url" content="{{ current_url }}">
  <meta itemprop="image" property="og:image" content="/img/banner.png">
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>

<body>
  <section class="section" itemscope itemtype="{% block itemtype %}{% endblock %}">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>
</body>

</html>
