{% extends "base.html" %}

{% block metadata %}
  <title>{{ section.title }} | iinuwa's Blog</title>
  <meta property="og:type" content="article">
  <meta itemprop="headline" property="og:title" content="{{ section.title }}">
{% endblock metadata %}

{% block itemtype %}https://schema.org/Blog{% endblock itemtype %}

{% block content %}
<header>
<h1 class="title">
  {{ section.title }}
</h1>
{% if page.description %}
<p>{{ page.description }}</p>
{% endif %}
</header>

<ul>
  <!-- If you are using pagination, section.pages will be empty.
       You need to use the paginator object -->
  {% for page in section.pages %}
  <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>
{% endblock content %}
