{% extends "base.html" %}

{% block itemtype %}https://schema.org/Blog{% endblock itemtype %}

{% block metadata %}
  <title>iinuwa's Blog</title>
  <meta property="og:type" content="website">
  <meta property="og:title" content="iinuwa's Blog">
{% endblock metadata %}

{% block content %}
<header itemscope itemtype="https://schema.org/Person">
  <h1 class="title">
    <span itemprop="identifier">iinuwa</span>'s blog.
  </h1>

   <p itemprop="description" class="tagline">An engineer on a mission to provide open and secure access to the Internet for everyone.</p>
</header>

<section>
  <h2><a href="{{ get_url(path="blog/") }}">Posts</a></h2>

  {% set blog = get_section(path="blog/_index.md") %}
  <ul>
    {% for page in blog.pages %}
    <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a> <span class="date">({{ page.date }})</span></li>
    {% endfor %}
  <ul>
</section>
<footer>
  <div class="profile-icons">
    <h2>Contact Me</h2>
    <p>
      If you'd like to send a comment on a post, or just say hello, reach out at <a href="mailto:hello@iinuwa.xyz">hello@iinuwa.xyz</a> or any of the social sites below. 🙂 I'd love to hear from you!
    </p>
    <a href="mailto:hello@iinuwa.xyz"><img alt="Email address hello@iinuwa.xyz" src="/img/email-icon.svg" /></a>

    <a href="https://github.com/iinuwa"><img alt="Link to GitHub profile" src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png"></a>

    <a rel="me" href="https://fosstodon.org/@iinuwa"><img alt="Link to Mastodon profile" src="https://joinmastodon.org/logos/logo-black.svg"></a>

    <a href="https://linkedin.com/in/iinuwa"><img alt="Link to LinkedIn profile" src="/img/linkedin-logo.png"></a>

    <a href="https://stackexchange.com/users/16513734/iinuwa?tab=accounts"><img alt="Link to LinkedIn profile" src="/img/logo-stackexchange.png"></a>
  </div>
</footer>
{% endblock content %}
